$textcolor:#000;
// Основные цвета
$white: #ffffff;         // Чистый белый
$marsala: #964F4C;       // Бордо (Марсала)
$cherry-red: #B22222;    // Вишнево-красный
$gold: #D4AF37;          // Золото
$copper: #B87333;        // Медный
@font-face {
  font-family: 'Mulish-Regular';
  src: url('./fonts/Mulish-Regular.ttf')format('truetype');;
}
@font-face {
  font-family: 'Mulish-bold';
  src: url('./fonts/Mulish-Bold.ttf')format('truetype');;
}
@font-face {
  font-family: 'Mulish-Italic';
  src: url('./fonts/Mulish-BlackItalic.ttf')format('truetype');;
}
.icon-gradient {
  // font-size: 50px;
  background: linear-gradient(to right, #8f1927,  #3a060f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text {
  background: linear-gradient(to right, #8f1927, #3a060f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  
  /* Поддержка для Firefox */
  -webkit-mask-image: linear-gradient(to right, #8f1927, #3a060f);
  mask-image: linear-gradient(to right, #8f1927, #3a060f);
}


// *{
//   border: 5px solid yellow
// }
.App {
  text-align: center;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: rgb(206, 206, 206);
  
}

.location_2gis{
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  // padding: 1vh;
  border-radius: 20px;
  
}
.location_tittle{
  font-size: 2.2vw;
  font-weight: bold;
  color:$cherry-red ;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
  text-align: center;
}
.vision{

  font-size: 1.8vw;
  padding: 1vw;
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.vision_3d{
  position: relative;
  // top: -12vh;
  width: 100%;
  height: 80vh;

}
.vision_road_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
.vision_road{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  height: 100%;
  align-items: flex-end;
}
.vision_road_tittle{
  color: $cherry-red;
  font-family: 1.5rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 5vh;
}
.submit_form{
 display: flex;
 height: 45vh;
 width: 100%;
 background-image: url('./images//secondslider/ss1.jpg');
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;


 .dark_layout2{
  background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .bg-wh{
    display: flex;
    width: 60%;
    background: rgba(255, 255, 255, 0.5);
    height: 60%;
    border-radius: 25px 25px 0 0;
    justify-content: center;
    align-items: first baseline;
    padding: 2% 3%;

    .submit_form_text_box{
      text-align: start;
      font-family: 'Mulish-Regular';
      width: 50%;
      height: 100%;
      .submit_form_tittle{
        font-size: 2vw;
      }
      .submit_form_tittle_2{
        font-size: 1vw;
      }

    }


    .input_form_box{
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 35%;
      height: 100%;

      input{
        width: 100%;
        padding: 0.5vh;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: white;
        font-size: 1vw;
        color: white;
        transition: 0.3s;
        text-align: center;
        &:focus{
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
        }
        &::placeholder{
          font-family: 'Mulish-Regular';
        }
      }

      button{
        background: linear-gradient(to right, #8f1927, #3a060f);
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 0.5vh;
        color: white;
        transition: 0.3s;
        font-size: 1vw;
        text-transform: uppercase;
        font-family: 'Mulish-Bold';
        &:focus{
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .submit_img{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1% ;
    background: linear-gradient(to right, rgba(143, 25, 39, 0.5), rgba(58, 6, 15, 0.5));
    border-radius: 0 0 25px 24px;
    img{
      width: 15%;
    }
  }
 }
}

footer{
  background-image: url('./images/secondslider/ss2.jpg');
  // height: 55vh;
  margin-top: 5vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}
.dark_layout3{
  background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.7);
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
 justify-content: center;
 text-align: center;
 color: #861c35;
 padding-bottom: 7vh;
 padding-top: 5vh;
  .footer_logo_ansau{
    width: 30%;
  }
  .footer_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: start;
    font-size: 1.1vw;
     p{
      font-family: 'Mulish-Regular';

      span{
        font-family: 'Mulish-Bold';
        text-transform: uppercase;
      }
     }
  }
 }
 .footer_logo{
  width: 20vw;
 }
 .footer_menu{
  display: flex;
  .footer-menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    a{
      color: white;
      text-decoration: none;
    }
  }
 }
 .footer_company_info{
    font-family: 'Mulish-Regular';
    display: flex;
    flex-direction: column;
    align-items: center;
    // text-align: start;
    width: 30%;
 }
 .footer_nak_logo{
  width: 12vw;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url('./images/naklogo.png');
  background-position: center;
  height: 100%;
  border-left:  2px solid white;
  padding: 1vw;
 }
