$textcolor:#000;
// Основные цвета
$white: #ffffff;         // Чистый белый
$marsala: #964F4C;       // Бордо (Марсала)
$cherry-red: #B22222;    // Вишнево-красный
$gold: #D4AF37;          // Золото
$copper: #B87333;        // Медный
// *{
//   border: 5px solid yellow
// }
.App {
  text-align: center;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: rgb(206, 206, 206);
}

.location_2gis{
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  // padding: 1vh;
  border-radius: 20px;
  
}
.location_tittle{
  font-size: 2.2vw;
  font-weight: bold;
  color:$cherry-red ;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
  text-align: center;
}
.vision{

  font-size: 1.8vw;
  padding: 1vw;
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.vision_3d{
  position: relative;
  top: -12vh;
  width: 100%;
  height: 80vh;

}
.vision_road_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
.vision_road{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  height: 100%;
  align-items: flex-end;
}
.vision_road_tittle{
  color: $cherry-red;
  font-family: 1.5rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 5vh;
}