.top_carousel{
    // margin-top: 79px !important;
    text-align: center;
    // margin-top: -5vw;
    width: 100%;
    @media (max-width:768px) {
        width: 100%;
    }
    @media (max-width:600px) {
        width: 100%;
        height: 60vh;
    }

}
.download-file-link{
    color: white;
    text-decoration: none;
    list-style: none;
}
.top_carous_img{
    filter: brightness(0.7);
    height: 100vh;
    width: 100%;
    @media (max-width:768px) {
        width: 100%;
        object-fit: cover;
    }
    @media (max-width:600px) {
        height: 60vh;
    }
}
.top_carous_text_box{
    position: absolute;
    top: 40%;
    text-align: start !important;
    @media (max-width:600px) {
        
    }

}
.top_carous_img_tittle{
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    @media (max-width:600px) {
        font-size: 2rem;
    }   
     @media (max-width:400px) {
        font-size: 1.5rem;
    }
    
}
.top_carous_img_text{
    font-size: 1.5rem;
    font-weight: 600;
    color: #d8bd89;
    @media (max-width:400px) {
        font-size: 1rem;
    }
}