$textcolor:#000;
// Основные цвета
$white: #ffffff;         // Чистый белый
$marsala: #964F4C;       // Бордо (Марсала)
$cherry-red: #B22222;    // Вишнево-красный
$gold: #D4AF37;          // Золото
$copper: #B87333;        // Медный
@font-face {
    font-family: 'Mulish-Regular';
    src: url('./fonts/Mulish-Regular.ttf')format('truetype');;
  }
  @font-face {
    font-family: 'Mulish-bold';
    src: url('./fonts/Mulish-Bold.ttf')format('truetype');;
  }
  @font-face {
    font-family: 'Mulish-Italic';
    src: url('./fonts/Mulish-BlackItalic.ttf')format('truetype');;
  }
  @font-face {
    font-family: 'Mulish-Light';
    src: url('./fonts/Mulish-Light.ttf')format('truetype');;
  }
  .icon-gradient {
    // font-size: 50px;
    background: linear-gradient(45deg, #8f1927, #3a060f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-text {
    background: linear-gradient(to right, #8f1927, #3a060f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
    /* Поддержка для Firefox */
    -webkit-mask-image: linear-gradient(to right, #8f1927, #3a060f);
    mask-image: linear-gradient(to right, #8f1927, #3a060f);
  }

.info{
    background-color: white;
    border-radius: 5% 20px 20px 5%;
    width: 90%;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vw;
    height: 70vh;
    position: relative;
    // top: -15vh;
    .info_left{
        width: 50%;
        border-radius: 18px;
    }

    .info_right{
        width: 45%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        text-align: start;
        padding-right: 1vw;
        
        .info_tittle {
            font-size: 2.2vw;
            font-weight: bold;
            color:$cherry-red ;
            // font-style: italic;
            // font-family: ;
            padding: 0;
            margin: 0;
            text-align: center;
            align-self: flex-start;
            text-align: start;
            @extend .gradient-text;
            font-family: 'Mulish-Regular';
        }
        .info_text{
            padding: 0;
            margin: 0;
            font-size: 1.2rem;
            color: $textcolor;
            line-height: 1.5;
            margin-top: 1vh;
            text-align: start;
            font-family: 'Mulish-Regular';
            
        }
    }
}
.info_pict_img{
    // object-fit: contain;
    width: 50%;
    border-radius: 5%;

}
.info_logo_ansau{
    align-self: flex-start;
    width: 40%;
}
.sub-button{
    align-self: flex-start;
    padding: 6px 2vw;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: 'Mulish-Light';
    // background: linear-gradient(to right,#8f1927, #8f1927,  #3a060f);
    background-color: #8a1b30;
    text-transform: uppercase;
}