*{
//    outline: 1px solid yellow;
}
$textcolor:#000;
// Основные цвета
$white: #ffffff;         // Чистый белый
$marsala: #964F4C;       // Бордо (Марсала)
$cherry-red: #B22222;    // Вишнево-красный
$gold: #D4AF37;          // Золото
$copper: #B87333;        // Медный

// Дополнительные цвета
$dark-marsala: darken($marsala, 10%);
$light-gold: lighten($gold, 15%);
@font-face {
    font-family: 'Mulish-Regular';
    src: url('./fonts/Mulish-Regular.ttf')format('truetype');;
  }
  @font-face {
    font-family: 'Mulish-bold';
    src: url('./fonts/Mulish-Bold.ttf')format('truetype');;
  }
  @font-face {
    font-family: 'Mulish-Italic';
    src: url('./fonts/Mulish-BlackItalic.ttf')format('truetype');;
  }
  @font-face {
    font-family: 'Mulish-Light';
    src: url('./fonts/Mulish-Light.ttf')format('truetype');;
  }
  .icon-gradient {
    // font-size: 50px;
    background: linear-gradient(45deg, #8f1927, #3a060f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-text {
    background: linear-gradient(to right, #8f1927, #3a060f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
    /* Поддержка для Firefox */
    -webkit-mask-image: linear-gradient(to right, #8f1927, #3a060f);
    mask-image: linear-gradient(to right, #8f1927, #3a060f);
  }
.header{
    // background: $marsala;
    // background-color: rgba(255, 255, 255, 0.2);
    // background-color: rgba(0, 0, 0, 0.0);
    // background: linear-gradient(to right, #8f1927, #3a060f);
    background: linear-gradient(to right, rgba(143, 25, 39, 1), rgba(58, 6, 15, 1));
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 12;
    height: 10vh;
    font-family: 'Mulish-Light';
    text-transform: uppercase;
}
.navbar{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
    // background: white;
    
    .soc-icons{
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        width: 7%;
        li{
            list-style: none;
            text-align: center;
            a{
                color: white;
                font-size: 1.5vw;
                transition: color 0.3s ease;
            }
            a:hover{
                color: $light-gold;
            }
        }
    }
    .desk-menu-left{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        width: 32%;
        li{
            list-style: none;
            margin: auto;
            text-align: center;
            a{
                color: white;
                font-size: 1vw;
                transition: color 0.3s ease;
                text-decoration: none;
            }
        }
    }
    .desk-menu-right{
        @extend .desk-menu-left
    }
    .zero-menu-right{
        width: 12%;
    }
}
.logo{
    width: 12%;
    background-blend-mode: overlay;
}
